.Landing {
  display: block;
  max-width: 1920px;
  margin: 0 auto;
  width: 80vw;
  height: 94vh;
}

.LandingData {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 428px) {
  .LandingData {
    flex-direction: column;
  }
}
