.ActivitiesSelect{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 75%;
    height: auto;
    align-items: center;
    margin: 1vh 0 1vh 10px;
    flex-wrap: wrap;
}
.ActivitiesSelectedBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-right: 10px;

}
.ActivitiesImg{
    align-items: center;
}
.ActivitiesSelect .ActivitiesImgData {
    width: 250px;
    height: 200px;
    border-radius: 20px;

}
.ActivitiesTitle{
    color: rgb(66, 255, 66);
    align-items: center;
}
.ActivitiesTitle{
    align-items: center;
}
.Action{
    background-color: rgb(66, 255, 66);
}