.ActivityPost p {
  font-size: 1.5vw;
}

.ActivityPost {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  margin: 1vh 0 1vh 10px;
  width: 20vw;
  height: 84vh;
  border-radius: 1vw;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}
.ActivityPostBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
  background-color: #1A9D9D;
  border-radius: 1vw;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}
